@model MVCTareaa.Models.DatosConversiones
@{
    ViewBag.Title = "Index";
}

<h2>Seleccionar Conversion</h2>

<p>Que conversion desea Hacer</p>


@using (Html.BeginForm("Acceder","Conversiones",FormMethod.Post))
{
    @Html.RadioButtonFor(x => x.OpcionConversion, "Longitud")<strong>Longitud</strong><br>
    @Html.RadioButtonFor(x => x.OpcionConversion, "Temperatura")<strong>Temperatura</strong><br>
    @Html.RadioButtonFor(x => x.OpcionConversion, "Masa")<strong>Masa</strong><br>
    @Html.RadioButtonFor(x => x.OpcionConversion, "Datos")<strong>Datos</strong><br>


    <input type="submit" value="Acceder">
}







