
@{
    ViewBag.Title = "Index";
}

<h2>Index Conversiones</h2>

<p>Que desea Convertir</p>


@Html.ActionLink("Longitudes", "Longitud")<br>

@Html.ActionLink("Temperaturas", "Temperatura")<br>

@Html.ActionLink("Masa", "Masa")<br>

@Html.ActionLink("Datos", "Datos")<br>



