@model MVCTareaa.Models.DatosConversiones


<h2>Conversiones de Longitud</h2>

@using (Html.BeginForm("Longitud", "Conversiones", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.CampoTexto)<br>

    @Html.Label("Seleccione la Conversion que desea")<br>


    <strong>De: </strong>

    @Html.DropDownListFor(x => x.ConvesionesLongitudFormaCorta1, new SelectList(new[] { "Centimetro", "Pies", "Pulgadas","Metros","Kilometros",
    "Millas" }), "Seleccionar la conversion")<br>


    <strong>A: </strong>
    @Html.DropDownListFor(x => x.ConvesionesLongitudFormaCorta2, new SelectList(new[] { "Centimetro", "Pies", "Pulgadas", "Metros", "Kilometros",
    "Millas" }), "Seleccionar la conversion")<br>


    <input type="submit" value="CALCULAR LONGITUD" class="btn btn-success">
}
