@model MVCTareaa.Models.DatosConversiones


<h2>Conversiones de Masa</h2>

@using (Html.BeginForm("Masa", "Conversiones", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.CampoTexto)<br>

    @Html.Label("Seleccione la Conversion que desea")<br>

    <strong>De: </strong>

    @Html.DropDownListFor(x => x.ConvesionesMasaFormaCorta1, new SelectList(new[] { "Gramo", "Kilogramo", "Onza","Libra" }), "Seleccionar la conversion")<br>


    <strong>A: </strong>
    @Html.DropDownListFor(x => x.ConvesionesMasaFormaCorta2, new SelectList(new[] { "Gramo", "Kilogramo", "Onza", "Libra" }), "Seleccionar la conversion")<br>


    <input type="submit" value="CALCULAR MASA" class="btn btn-success">
}
