body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrap {
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

    .wrap > h1 {
        color: #494B4D;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 15px 0px;
    }

        .wrap > h1:after {
            content: '';
            width: 100%;
            height: 1px;
            background: #C7C7C7;
            margin: 20px 0;
        }

.store-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.category_list {
    display: flex;
    flex-direction: column;
    width: 18%;
}

    .category_list .category_item {
        display: block;
        width: 90%;
        padding: 15px 0;
        margin-bottom: 20px;
        background: #E84C3D;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .category_list .ct_item-active {
        background: #2D3E50;
    }

/* Plataformas ============*/

.news-list,
.movie-list{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}


.news-list .new-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}

.movie-list{
    width: 80%;
    height: 500px;
}

.news-list .news-item img {
    width: 250px;
}

.news-list .news-item a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px) {
    .news-list .news-item .music-item .music-list .movie-list .movie-item {
        width: 30.3%;
    }
}
.news-item{
    margin: 10px;
}

@media screen and (max-width: 900px) {
    .category_list,
    .news-list,
    .music-list,
    .movie-list
    {
        width: 100%;
    }

    .category_list {
        flex-direction: row;
        justify-content: space-between;
    }

        .category_list .category_item {
            align-self: flex-start;
            width: 15%;
            font-size: 14px;
        }

    .news-list .news-item .music-item .music-list .movie-list .movie-item {
        margin-left: 4.5%;
    }

    .news-list .news-item:nth-child(3n+1),
    .music-item:nth-child(3n+1) .music-list,
    .movie-list .movie-item:nth-child(3n+1) {
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .category_list {
        flex-direction: column;
    }

        .category_list .category_item {
            width: 100%;
            margin-bottom: 10px;
        }
}

@media screen and (max-width: 600px) {

    .news-list .news-item .music-item .music-list .movie-list .movie-item {
        width: 47.5%;
    }

    .news-list .news-item:nth-child(3n+1),
    .music-item:nth-child(3n+1) .music-list,
    .movie-list .movie-item:nth-child(3n+1) {
        margin-left: 4.5%;
    }

    .news-list .news-item:nth-child(2n+1),
    .movie-list .movie-item:nth-child(3n+1),
    .music-list .music-item:nth-child(3n+1){
        margin-left: 0px;
    }
}

@media screen and (max-width: 350px) {
    .news-list .news_item .music-item .music-list .movie-list .movie-item {
        width: 100%;
        margin-left: 0px;
    }
}

.music-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.music-list .music-item {
    width: 30%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}

.music-list .music-item img {
    width: 308px;
}

.music-list .music-item a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.Botones strong {
    margin-left: 2px;
    font-size: 1.90rem;
}

.contenedor img {
    width:200px; 
    height:150px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.contenedor{
    text-align: center;
    margin-top: 22px;
}
span{
    font-weight: bold;
    font-size: 1.5rem;
}
.formulario{
    margin-top: 12px;

.tabla{
    display: flex;
    width: 800px;
}

.form-control {
    width: 95%;
    margin-right: 71px;
}

.formulario {
    padding-left: 14%;
    width: 90%;
}

.btn-success {
    background-color: #E84C3D;
    border-color: #E84C3D;
}

.title{
    font-weight: 600;
}

.navbar {
    background-color: #2D3E50;
}
.navbar-inverse .navbar-brand {
    background-color: #2D3E50;
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer-distributed {
    background-color: #2D3E50;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 40px 38px;
    margin-top: 35px;
    position: absolute;
    left: 0px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    .footer-distributed .footer-left {
        width: 30%;
    }

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #E84C3D;
        }


    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }


    .footer-distributed .footer-center {
        width: 30%;
        margin-right: 4%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
                ;
            }

    .footer-distributed .footer-right {
        width: 30%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #E84C3D;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }


@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }

    .main {
        line-height: normal;
        font-size: auto;
    }
}