@{
    ViewBag.Title = "Acerca de Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Informacion Sobre los participantes del proyecto</h3>
</div>
<div class="contenedor-info">
    <section class="info-left">
        <div>
            <img  class="foto" src="~/FotosMiembros/OFoto.jpg">
        </div>
        <div>
            <strong>Nombre: </strong><span>Oseas</span><br>
            <strong>Apellido: </strong><span>Arnaud Sanchez</span><br>
            <strong>Matricula: </strong><span>2018-6321</span><br>
        </div>
        <br />
        <div>
            <fieldset>
                <legend>Modulos desarollados:</legend>
                <ul>
                    <li><strong>Vincular la aplicación con Facebook</strong></li>
                    <li><strong>Conversor de unidades</strong></li>
                    <li><strong>Lector de Archivos xls</strong></li>
                </ul>
            </fieldset>
        </div>

        <br>
        <hr>
    </section>
    <section class="info-rght">
        <div>
            <img class="foto" src="~/FotosMiembros/RFoto.jpeg">
        </div>
        <div>
            <strong>Nombre: </strong><span>Fernando Rubier</span><br>
            <strong>Apellido: </strong><span>Figuereo Roa</span><br>
            <strong>Matricula: </strong><span>2018-6557</span><br>
        </div>
        <br />
        <div>
            <fieldset>
                <legend>Modulos desarollados:</legend>
                <ul>
                    <li><strong>Formulario de solicitud de empleo</strong></li>
                    <li>
                        <strong>Filtro de contenidos: </strong>
                        <ol>
                            <li><strong>Noticias</strong></li>
                            <li><strong>Música</strong></li>
                            <li><strong>Películas</strong></li>
                        </ol>
                    </li>
                </ul>
            </fieldset>
        </div>
    </section>
</div>
