@{
    ViewBag.Title = "Inicio - AtlasTecnology";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="jumbotron">
    <img class="banner" src="~/archivos/atlas-banner.png" style="width: 60%;" />
    <p>Somos un equipo de profesionales con la actitud necesaria para asumir los proyectos de nuestros clientes como propios, en la búsqueda incesante de su plena satisfacción, convencidos en que esto es posible mediante la constante practica de los siguientes principios:</p>
    <p>
        <strong>
            Vocación de servicio<br />
            Comunicación abierta y sincera<br />
            Cumplimiento de los compromisos<br />
            Capacitación constante<br />
            Innovación y mejora continua
        </strong>
    </p>
</div>

<div class="row jumbotron">
    <div class="col-md-4">
        <h2>Consultoría Procesos</h2>
        <p>
            Proveemos servicios consultivos para análisis de procesos, simulación de los mismos, identificación de cuellos de botella y oportunidades de mejora, así como recomendaciones para optimización de entregas mas efectivas y eficientes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Desarrollo de Software</h2>
        <p>La misión de la Fábrica de Software de Argentum.Inc es proveer a nuestros clientes con software de valor, en términos de calidad, coste y tiempo de entrega, auxiliándonos de las mejores prácticas de TI, tecnologías de punta y profesionales altamente calificados.</p>
    </div>
    <div class="col-md-4">
        <h2>Calidad de Software</h2>
        <p>
            Es bien conocido que muchos proyectos de desarrollo de software fallan, o salen de presupuesto, debido a que la mayoría de los defectos y errores son identificados demasiado tarde.
            <br />
            Los negocios requieren cada vez más de soluciones que se desarrollen de forma rápida, y cada vez con mayor calidad.
        </p>
    </div>
</div>