
@{
    ViewBag.Title = "Musica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="wrap">
    <h1>MÚSICA</h1>
    <div class="store-wrapper">
        <section class="music-list">
            <div class="music-item">
                <img src="~/ImgMusic/spotify-logo.png" alt="">
                <a href="https://www.spotify.com/es/" target="_blank">INGRESAR</a>
            </div>
            <div class="music-item">
                <img src="~/ImgMusic/deezer-logo.jpeg" alt="">
                <a href="https://www.deezer.com/es/" target="_blank">INGRESAR</a>
            </div>
            <div class="music-item">
                <img src="~/ImgMusic/googlemusic-logo.jpg" alt="">
                <a href="https://play.google.com/music/listen?u=0#/sulp" target="_blank">INGRESAR</a>
            </div>
            <div class="music-item">
                <img src="~/ImgMusic/soundcloud-logo.jpg" alt="">
                <a href="https://soundcloud.com" target="_blank">INGRESAR</a>
            </div>
            <div class="music-item">
                <img src="~/ImgMusic/purpleplanet-logo.png" alt="">
                <a href="https://www.purple-planet.com" target="_blank">INGRESAR</a>
            </div>
            <div class="music-item">
                <img src="~/ImgMusic/soundstripe-logo.jpg" alt="">
                <a href="https://www.soundstripe.com" target="_blank">INGRESAR</a>
            </div>
        </section>
    </div>
</div>
