
@{
    ViewBag.Title = "Noticias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Script.js"></script>
<div class="wrap">
    <h1>Noticias locales e internacionales</h1>
    <div class="store-wrapper">
        <div class="category_list">
            <a href="#" class="category_item" category="all">Todo</a>
            <a href="#" class="category_item" category="local">Locales</a>
            <a href="#" class="category_item" category="internacional">Internacionales</a>
        </div>
        <section class="news-list">
            <div class="news-item" category="local">
                <img src="~/ImgNews/ensegundos-logo.jpg" alt="">
                <a href="https://ensegundos.do" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="local">
                <img src="~/ImgNews/hoy-logo.png" alt="">
                <a href="https://hoy.com.do" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="local">
                <img src="~/ImgNews/listin-diario-logo.jpg" alt="">
                <a href="https://listindiario.com" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="local">
                <img src="~/ImgNews/eldia-logo.png" alt="">
                <a href="https://eldia.com.do/nacionales/" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="local">
                <img src="~/ImgNews/diariolibre-logo.jpg" alt="">
                <a href="https://www.diariolibre.com" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="internacional">
                <img src="~/ImgNews/el-pais-logo.png" alt="">
                <a href="https://elpais.com/internacional/" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="internacional">
                <img src="~/ImgNews/bbc-logo.png" alt="">
                <a href="https://www.bbc.com/mundo" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="internacional">
                <img src="~/ImgNews/euronews-logo.png" alt="">
                <a href="https://es.euronews.com/noticias/internacional" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="internacional">
                <img src="~/ImgNews/el-mundo-logo.jpg" alt="">
                <a href="https://www.elmundo.es/internacional.html" target="_blank">INGRESAR</a>
            </div>
            <div class="news-item" category="internacional">
                <img src="~/ImgNews/abc-logo.jpg" alt="">
                <a href="https://www.abc.es/internacional/" target="_blank">INGRESAR</a>
            </div>
        </section>
    </div>
</div>
